body {
  background-color: #0b1d17;
  color: #f8f8f8;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.container {
  max-width: 600px;
}
.logo {
  width: 800px;
  margin-bottom: 150px;
}
#countdown {
  font-size: 1.8rem;
  margin-top: 20px;
  color: #3ddc97;
}
