body {
  background-color: #0b1d17;
  color: #f8f8f8;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

.logo {
  width: 80%;
  max-width: 650px;
  height: auto;
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  .logo {
    width: 90%;
    max-width: 500px;
  }
}

#countdown {
  font-size: 1.8rem;
  margin-top: 20px;
  color: #3ddc97;
}

@media (max-width: 768px) {
  .logo {
    width: 80%;
  }
  #countdown {
    font-size: 1.4rem;
  }
}
