---
import "../styles/global.css";

const { title = "Capitoken" } = Astro.props;
const year = new Date().getFullYear();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>

  <body>
    <slot />
  </body>
</html>
